* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background: rgba(210, 0, 42, 1);
}

.cls-1, .cls-2 {
  fill: #fff;
}

.cls-3 {
  fill: #c00;
  stroke: #c00;
}

.cls-3, .cls-4, .cls-2, .cls-5, .cls-6 {
  stroke-miterlimit: 10;
}

.cls-4 {
  fill: #66839b;
  stroke: #66839b;
}

.cls-2 {
  stroke: #fff;
}

.cls-5 {
  fill: #030303;
  stroke: #030303;
}

.cls-6 {
  fill: #7f0000;
  stroke: #7f0000;
}

.h1 {
  font-size: 4rem !important;
}

.text-shadow {
  text-shadow:
   -3px -3px 0 #000000, /* Top-left */
    3px -3px 0 #000000, /* Top-right */
   -3px  3px 0 #000000, /* Bottom-left */
    3px  3px 0 #000000, /* Bottom-right */
    0px  -3px 0 #000000, /* Top */
    0px   3px 0 #000000, /* Bottom */
   -3px  0px 0 #000000,  /* Left */
    3px  0px 0 #000000;  /* Right */
}

.text-shadow-small {
  text-shadow:
   -2px -2px 0 #000000, /* Top-left */
    2px -2px 0 #000000, /* Top-right */
   -2px  2px 0 #000000, /* Bottom-left */
    2px  2px 0 #000000, /* Bottom-right */
    0px  -2px 0 #000000, /* Top */
    0px   2px 0 #000000, /* Bottom */
   -2px  0px 0 #000000,  /* Left */
    2px  0px 0 #000000;  /* Right */
}

.text-shadow-red {
  text-shadow:
   -3px -3px 0 #c00, /* Top-left */
    3px -3px 0 #c00, /* Top-right */
   -3px  3px 0 #c00, /* Bottom-left */
    3px  3px 0 #c00, /* Bottom-right */
    0px  -3px 0 #c00, /* Top */
    0px   3px 0 #c00, /* Bottom */
   -3px  0px 0 #c00,  /* Left */
    3px  0px 0 #c00;  /* Right */
}

.text-shadow-white {
  text-shadow:
   -3px -3px 0 #FFF, /* Top-left */
    3px -3px 0 #FFF, /* Top-right */
   -3px  3px 0 #FFF, /* Bottom-left */
    3px  3px 0 #FFF, /* Bottom-right */
    0px  -3px 0 #FFF, /* Top */
    0px   3px 0 #FFF, /* Bottom */
   -3px  0px 0 #FFF,  /* Left */
    3px  0px 0 #FFF;  /* Right */
}

@media (max-width: 1024px) {
  .h1 {
    font-size: 3rem !important;
  }
}

@media (max-width: 768px) {
  .h1 {
    font-size: 2rem !important;
  }

  .text-shadow {
    text-shadow:
    -2px -2px 0 #000000, /* Top-left */
      2px -2px 0 #000000, /* Top-right */
    -2px  2px 0 #000000, /* Bottom-left */
      2px  2px 0 #000000, /* Bottom-right */
      0px  -2px 0 #000000, /* Top */
      0px   2px 0 #000000, /* Bottom */
    -2px  0px 0 #000000,  /* Left */
      2px  0px 0 #000000;  /* Right */
  }

  .text-shadow-red {
    text-shadow:
    -2px -2px 0 #c00, /* Top-left */
      2px -2px 0 #c00, /* Top-right */
    -2px  2px 0 #c00, /* Bottom-left */
      2px  2px 0 #c00, /* Bottom-right */
      0px  -2px 0 #c00, /* Top */
      0px   2px 0 #c00, /* Bottom */
    -2px  0px 0 #c00,  /* Left */
      2px  0px 0 #c00;  /* Right */
  }

  .text-shadow-white {
    text-shadow:
    -2px -2px 0 #FFF, /* Top-left */
      2px -2px 0 #FFF, /* Top-right */
    -2px  2px 0 #FFF, /* Bottom-left */
      2px  2px 0 #FFF, /* Bottom-right */
      0px  -2px 0 #FFF, /* Top */
      0px   2px 0 #FFF, /* Bottom */
    -2px  0px 0 #FFF,  /* Left */
      2px  0px 0 #FFF;  /* Right */
  }
}

@media (max-width: 440px) {
  .h1 {
    font-size: 2rem !important;
  }
}