.modalLayout {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9000;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.75);
}

.input:focus,
.textarea:focus {
    outline: 2px solid black;
}

.modal {
    position: fixed;
    width: 400px;
    min-height: 400px;
    z-index: 10000;
    height: auto;
    left: calc(50% - 200px);
    background: #c00;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}

.titleWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalKnight {
    position: relative;
    width: 80px;
    height: 80px;
}

.title {
    font-size: 2rem;
    color: black;
}

.input,
.textarea {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid black;
    background: transparent;
    color: black;
    outline: none;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    color: black;
    width: 100%;
}

.textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 380px;
    resize: vertical;
    position: relative;
}

.error {
    color: white;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.success {
    color: white;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

@media (max-width: 440px) {
    .modal {
        width: calc(100% - 40px);
        left: 20px;
    }
}